In [ ]:
#ODD OR EVEN

In [7]:
def check_odd_even(number):
    if number % 2 == 0:
        return f"{number} is even."
    else:
        return f"{number} is odd."

# Test the function
num=int(input('Enter the number for odd check'))
num2=int(input('Enter the number for even check'))
print(check_odd_even(num))
print(check_odd_even(num2))

Enter the number for odd check 6
Enter the number for even check 7

6 is even.
7 is odd.

In [ ]:
##Print a Multiplication Table

In [36]:
def multiplication_table(n):
    for i in range(1, 11):
        print(n, 'x', i, '=', n * i)

# Print the multiplication of any number
num1=int(input('Enter any number'))
multiplication_table(num1)

Enter any number 12

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
##Sum of Natural Numbers

In [14]:
def sum_natural_numbers(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

# Sum of the first 10 natural numbers
print(sum_natural_numbers(10))

55

In [ ]:
#Print Patterns

In [15]:
##Pattern 1: Right Triangle
def right_triangle(rows):
    for i in range(1, rows + 1):
        print('*' * i)

# Print a right triangle with 5 rows
right_triangle(5)

*
**
***
****
*****

In [32]:
##Pattern 2: Pyramid
def pyramid(rows):
    for i in range(1, rows + 1):
        print(' ' * (rows - i) + '*' * (2 * i - 1))

# Print a pyramid with 5 rows
pyramid(5)

    *
   ***
  *****
 *******
*********

In [ ]:
## Factorial using While Loop

In [33]:
def factorial(n):
    result = 1
    while n > 0:
        result *= n
        n -= 1
    return result

# Factorial of 5
print(factorial(5))

120

In [ ]:
#Fibonacci Sequence using Functions

In [35]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=' ')
        a, b = b, a + b

# Print the first 10 Fibonacci numbers
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [ ]:
##Left traingle

In [23]:
def left_triangle(rows):
    for i in range(rows, 0, -1):  # Loop starts at 'rows' and decrements down to 1
        print('*' * i)

# Print an upside-down left-aligned triangle with 6 rows
left_triangle(6)

******
*****
****
***
**
*

In [ ]:
##UpsideDownTriangle

In [34]:
def upsideDown_triangle(rows):
    for i in range(rows, 0, -2):
        #1 Calculate the number of spaces needed for centering the stars
        spaces = (rows - i) // 2# Calculate difference between rows and current value of i divided by 2 to center align it.
        print(' ' * spaces + '*' * i)

# Print an upside-down center-aligned triangle with 6 rows
num=int(input('Enter any number'))
upsideDown_triangle(8)

Enter any number 9

********
 ******
  ****
   **